langchain
langchain-openai
langchain-community
langgraph
openai
python-dotenv
pydantic
streamlit
reportlab
duckduckgo-search
sentinela-ai[langchain] @ git+https://github.com/klaubeer/sentinela-ai.git#subdirectory=sdk
